SINGBOX_CFG_PATH=#/app/data/singbox.json
SERVER_DOMAIN=#template_host
SERVER_NAME=#ya.ru
PORT=#8080
DB_PATH=#/app/data/db.sqlite
SHORT_ID=#for next
ADMIN_USER=#admin
ADMIN_PASSWORD=#password
KEY_PATH=#/app/data/keys.json