SINGBOX_CFG_PATH=#/app/data/singbox.json
SERVER_HOST=#template_host
SERVER_NAME=#ya.ru
API_PORT=#8080
DB_PATH=#/app/data/db.sqlite
SHORT_ID=#for next
SERVICE_USER=#admin
SERVICE_PASSWORD=#password
KEY_PATH=#/app/data/keys.json
SING_BOX_PORT=#444